# Product name
PRODUCT_NAME=Copilot
PRODUCT_SUBTITLE=AI Chatbot
PRODUCT_DESCRIPTION=Copilot empowers you to inquire, receive immediate responses, and engage in dynamic conversations with AI. Offering access to GPT-4, gpt-3.5-turbo, Claude from Anthropic, and an array of other bots, Copilot provides a seamless and interactive experience for all your conversational needs.
PRODUCT_URL=https://

# You must first activate a Billing Account here: https://platform.openai.com/account/billing/overview
# Then get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=XXXXXXXX

# Then get your Google API Key here: https://makersuite.google.com/app/apikey
GOOGLE_API_KEY=XXXXXXXX

# Then get your Anthropic API Key here: https://console.anthropic.com/settings/keys
ANTHROPIC_API_KEY=XXXXXXXX

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=XXXXXXXX

# Support OAuth login on preview deployments, see: https://authjs.dev/guides/basics/deployment#securing-a-preview-deployment
# Set the following only when deployed. In this example, we can reuse the same OAuth app, but if you are storing users, we recommend using a different OAuth app for development/production so that you don't mix your test and production user base.
# AUTH_REDIRECT_PROXY_URL=https://YOURAPP.vercel.app/api/auth

# Create a GitHub OAuth app here: https://github.com/settings/applications/new
# Authorization callback URL: https://authjs.dev/reference/core/providers_github#callback-url
# Enable or disable GitHub login. Set to "true" to enable, "false" to disable.
AUTH_GITHUB_ENABLED=true
AUTH_GITHUB_ID=XXXXXXXX
AUTH_GITHUB_SECRET=XXXXXXXX

# Create a Google OAuth app here: https://console.developers.google.com/
# Authorization callback URL: https://authjs.dev/reference/core/providers_google#callback-url
# Enable or disable Google login. Set to "true" to enable, "false" to disable.
AUTH_GOOGLE_ENABLED=true
AUTH_GOOGLE_ID=XXXXXXXX
AUTH_GOOGLE_SECRET=XXXXXXXX

#MODEL
OPENAI_MODELS=gpt-4-turbo-2024-04-09,gpt-4,gpt-4-vision-preview,gpt-3.5-turbo-16k,
GOOGLE_MODELS=gemini-1.5-pro-latest,gemini-1.0-pro,
ANTHROPIC_MODELS=claude-3-opus-20240229,claude-3-sonnet-20240229,claude-3-haiku-20240307,
DEFAULT_MODEL=

# Drizzle
# Instructions to create vercel postgres here: https://vercel.com/docs/storage/vercel-postgres/quickstart 
POSTGRES_URL=XXXXXXXX
POSTGRES_PRISMA_URL=XXXXXXXX
POSTGRES_URL_NO_SSL=XXXXXXXX
POSTGRES_URL_NON_POOLING=XXXXXXXX
POSTGRES_USER=XXXXXXXX
POSTGRES_HOST=XXXXXXXX
POSTGRES_PASSWORD=XXXXXXXX
POSTGRES_DATABASE=XXXXXXXX

# Database table prefix
DATABASE_PREFIX="ai-chatbot_"